{
  "presets": ["next/babel"],
  "plugins": [
    "macros",
    [
      "babel-plugin-styled-components",
      {
        "pure": true
      }
    ],
    ["@babel/plugin-proposal-optional-chaining"]
  ]
}
